.frio{
	color: darkcyan;
	font-size: 24px;
	text-align: center;
}

.quente{
	color: orangered;
	font-size: 24px;
	text-align: center;
}

.primaria{
	color: black;
	font-size: 24px;
	text-align: center;
	font-weight: bold;
}

.secundaria{
	color: darkgrey;
	font-size: 24px;
	text-align: center;
	font-style: italic;
}

